/*:root {*/
/*    --background: rgba(0,0,0,0);*/
/*}*/
/*.dark {*/
/*    --background: var(--background);*/
/*}*/

:root {
    background: rgba(0,0,0,0);
}
body {
    background: rgba(0,0,0,0);
}
#status-root {
    min-height: 100vh;
}
